@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-herba-50 text-slate-800 antialiased;
  }
}

/* Custom scrollbar for chat container */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
